# --- Interface e Web App (Conecta) ---
streamlit
streamlit-calendar

# --- Motor de Dados e BI ---
pandas
openpyxl
plotly

# --- Robô de Extração GETS (Automação) ---
selenium
webdriver-manager
xlrd>=2.0.1
reportlab
kaleido
